body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

nav i {
  margin-right: 5px;
}

.container-fluid {
  padding: 48px;
  margin-top: 48px;
}

.box {
  margin-bottom: 25px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.box:hover {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.card-img {
  height: 325px;
  object-fit: cover;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
  transition: opacity 500ms;
  text-shadow: 1px 1px 10px black;
}

.card-bottom {
  width: calc(100% - 1.25rem);
  padding-right: 1.25rem;
  position: absolute;
  bottom: 25px;
  color: white;
  display: flex;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
}

.card-title {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 145px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  display: inline;
  margin-left: 3px;
  text-shadow: 1px 1px 10px black;
}

.transfer {
  width: 20%;
  text-align: right;
}

.transfer > a {
  color: white;
}

.transfer:hover > a {
  color: grey;
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  word-break: break-word;
}

.form-control {
  width: unset;
}

nav form .form-control.mr-sm-2 {
  margin-right: 10px;
}

.pag {
  display: flex;
  justify-content: center;
}

.page-empty {
  text-align: center;
}

.number {
  font-size: 100px;
}

@media only screen and (max-width: 470px) {
  .navbar {
    justify-content: center;
  }
}
