body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

nav img {
  margin-right: 5px;
}

.container-fluid {
  padding: 48px;
}

.box {
  margin-bottom: 25px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.box:hover {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.card-img {
  height: 325px;
  object-fit: cover;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
  transition: opacity 500ms;
  text-shadow: 1px 1px 10px black;
}

.transfer {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: white;
}
