body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

nav i {
  margin-right: 5px;
}

.container-fluid {
  padding: 48px;
}

.box {
  margin-bottom: 25px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.box:hover {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.card-img {
  height: 325px;
  object-fit: cover;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
  transition: opacity 500ms;
  text-shadow: 1px 1px 10px black;
}

.form-control {
  width: unset;
}

nav form .form-control.mr-sm-2 {
  margin-right: 10px;
}

@media only screen and (max-width: 470px) {
  .navbar {
    justify-content: center;
  }
}